# Ignore env files anywhere
.env*
**/.env*

# Ignore node_modules anywhere
node_modules/
**/node_modules/

# Next.js build folders
.next/
**/.next/

# Next.js static export output
out/
**/out/

# Vercel folder
.vercel/
**/.vercel/
