.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;

    .box {
        position: absolute;
        padding: 10px;
        border-radius: 100%;
        background: orange;
    }
}